/*
	Google Fonts
*/

*{
	/* Default Font */
	font-family: 'Roboto', sans-serif;
}

h1, h2{
	font-family: 'Montserrat', sans-serif;
}

img{
	height: 250px;
	width: 250px;
}

img:hover {
	height: 300px;
	width: 300px;
	box-shadow: 4px 4px 6px;
}

#landing {
	height: 80vh;
	/* Center the content, (image, heading and paragraph) horizontally and vertically using Flexbox */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
 
#gallery{
	height: 75vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 6px;
	color: white;
}

ul {
	list-style: none;
	padding: 0;
}

h2 {
	color: #007bff;
}

.tools {
	padding: 25px;
	border: 5px solid #f2f2f2;
	margin: 20px;
	height: 200px;
	width: 75%;
}

html {
	scroll-behavior: smooth;
}

table {
	border: none;
}

td {
	padding-right: 40px;
}